#audio {
    position: fixed;
    bottom: 0;
    width: 95%;
    opacity: 80%;
  }

  @media only screen and (max-width: 600px) {
    #audio {
        width: 60%; 
        position: fixed;
        bottom: 0;
    }
}